.env
venv/
dashboard/.streamlit/secrets.toml
*.log
scraper.log
enrichment.log

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ruff_cache/

# dbt
dbt_transformation/logs/
dbt_transformation/.user.yml

# BigQuery service account keys
*.json

# OS
.DS_Store
Thumbs.db

#Airflow
airflow/logs/**
__pycache__/
'nairflow/logs/

#Docker
gcp_credentials.json