.env
venv/
dashboard/.streamlit/secrets.toml
*.log
scraper.log
enrichment.log

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# dbt
dbt_transformation/logs/
dbt_transformation/.user.yml
dbt_transformation/profiles.yml

# BigQuery service account keys
*.json

# OS
.DS_Store
Thumbs.db

#Docker
gcp_credentials.json